.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  margin: 0 auto;
  pointer-events: none;
}

.App-icon {
  color: white;
  height: 10vmin;
}
.App-header {
  background-color: rgb(242, 240, 240);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(242, 240, 240);
}

.App-body {
  background-color: rgb(242, 240, 240);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
 
}

.App-card {
  background-color:  white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(242, 240, 240);
}

.App-link {
  color: #61dafb;
}

.App-button {
  background-color: #800870;
  color: white;
  margin: 2rem;
  border: none;
  border-radius: 2px;
  min-width: 8rem;
  max-width: 10rem;
  /* border-style: none;
  border-radius: 3px; */
  transition-duration: 0.4s;
  padding: 1rem 1rem;
}

.button:hover {
  background-color: #800870;
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
